/* RESET */
body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
    background-image: url(imagens/Background.png);
    background-size: cover;
    background-position: center;
}

/* CONTAINER */
.pc-container {
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    gap: 15px;

    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 15px;

    box-shadow: 0 10px 25px rgba(255, 230, 0, 0.247);
    backdrop-filter: blur(5px);
}

/* ESQUERDA */
.lado-esquerdo {
    width: 280px;
    height: 520px;

    background: #e4e4e4;
    padding: 10px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.lado-esquerdo h3 {
    margin: 5px 0;
    font-size: 25px;
    text-align: center;
}

/* CARD POKEMON */
@keyframes aparecer {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.pokemon-view {
    background: #f8f8f8;
    width: 90%;
    height: 100%;

    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pokemon-view img {
    width: 150px;
    height: 140px;
    animation: aparecer 0.2s ease;
}

.hidden {
    display: none;
}


/* LEVEL */
.level {
    font-size: 25px;
    margin: 3px 0;
}

/* TIPOS */
.tipo {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.tipo span {
  display: inline-block;
  font-size: 25px;
  padding: 1px 5px;
  border-radius: 4px;
  color: white;
  margin-top: 10px;
}


/* CORES DOS TIPOS */
.poison {background-color: #A040A0;}
.fire {background-color: #F08030;}
.water {background-color: #517ee7;}
.grass {background-color: #69c73a;}
.electric {background-color: #F8D030; color: black;}
.ice {background-color: #98D8D8; color: black;}
.fighting {background-color: #C03028;}
.psychic {background-color: #F85888;}
.ground {background-color: #E0C068; color: black;}
.rock {background-color: #B8A038;}
.flying {background-color: #A890F0;}
.bug {background-color: #a2b120;}
.normal {background-color: #A8A878;}
.dark {background-color: #111111;}
.ghost {background-color: #56009c;}
.steel {background-color: #686868;}
.fairy {background-color: #ff9af1}
.dragon {background-color: #0059ff;}

/* PESO E ALTURA */
#pokemon-peso,
#pokemon-altura {
    font-size: 25px;
    margin: 25px 0;
    text-align: center;
    color: #555;
}

/* DIREITA */
.lado-direito {
    width: 500px;

    background: white;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    box-shadow: inset 0 0 10px #2A75BB;
}

/* TOPO */
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* INPUT */
.topo input {
    padding: 10px;
    border-radius: 8px;
    border: 3px solid #2A75BB;
    outline: none;
}

/* BOTÕES FILTRO */
.menu {
    position: relative;
    display: inline-block;
    margin: 0 260px 0 0;
}

.sub-botoes {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    flex-direction: row;
    gap: 5px;
    border-radius: 5px;
    z-index: 10;
}
/* GRID */
.grid {
    background: #2a75bb49;
    border-radius: 15px;
    padding: 20px;

    height: 340px;
    overflow-y: auto;
}

/* LISTA */
#lista-capturados {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
}

/* CARD LISTA */
#lista-capturados li {
    list-style: none;
    text-align: center;

    border-radius: 12px;
    padding: 10px;

    transition: 0.3s;
    cursor: pointer;
}

#lista-capturados li:hover {
    transform: scale(1.15);
}

/* IMAGEM LISTA */
#lista-capturados img {
    width: 80px;
}

/* BOTÕES */
.botoes {
    display: flex;
    justify-content: space-between;
}

button {
    font-family: 'Pixelify Sans', sans-serif;
    transition: 0.2s;
    font-size: 16px;
    color: #2A75BB;

    padding: 10px;
    border-radius: 15px;
    border: 3px solid #2A75BB;
    background: transparent;
}

button:hover {
    transform: scale(1.1);
    background-color: #2A75BB;
    color: white;
}